@charset "UTF-8";

@font-face {
  font-family: "dso-font";
  src:url("fonts/dso-font.eot?v=1.0.0.1");
  src:url("fonts/dso-font.eot?#iefix&v=1.0.0.1") format("embedded-opentype"),
    url("fonts/dso-font.woff?v=1.0.0.1") format("woff"),
    url("fonts/dso-font.ttf?v=1.0.0.1") format("truetype"),
    url("fonts/dso-font.svg?v=1.0.0.1#dso-font") format("svg");
  font-weight: normal;
  font-style: normal;

}
[data-icon]:before {
  font-family: "dso-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="dso-i-"]:before,
[class*=" dso-i-"]:before {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  font-family: "dso-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fdso-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fdso-2x {
  font-size: 2em;
}
.fdso-3x {
  font-size: 3em;
}
.fdso-4x {
  font-size: 4em;
}
.fdso-5x {
  font-size: 5em;
}
.dso-i-dso-1:before {
  content: "\61";
}
.dso-i-dso-38:before {
  content: "\62";
}
.dso-i-dso-110:before {
  content: "\63";
}
.dso-i-dso-2:before {
  content: "\64";
}
.dso-i-dso-39:before {
  content: "\65";
}
.dso-i-dso-109:before {
  content: "\67";
}
.dso-i-dso-3:before {
  content: "\68";
}
.dso-i-dso-40:before {
  content: "\69";
}
.dso-i-dso-108:before {
  content: "\6a";
}
.dso-i-dso-4:before {
  content: "\6b";
}
.dso-i-dso-41:before {
  content: "\6c";
}
.dso-i-dso-107:before {
  content: "\6d";
}
.dso-i-dso-5:before {
  content: "\6e";
}
.dso-i-dso-42:before {
  content: "\6f";
}
.dso-i-dso-106:before {
  content: "\70";
}
.dso-i-dso-6:before {
  content: "\71";
}
.dso-i-dso-43:before {
  content: "\72";
}
.dso-i-dso-105:before {
  content: "\73";
}
.dso-i-dso-7:before {
  content: "\74";
}
.dso-i-dso-44:before {
  content: "\75";
}
.dso-i-dso-104:before {
  content: "\76";
}
.dso-i-dso-8:before {
  content: "\77";
}
.dso-i-dso-45:before {
  content: "\78";
}
.dso-i-dso-103:before {
  content: "\79";
}
.dso-i-dso-9:before {
  content: "\7a";
}
.dso-i-dso-46:before {
  content: "\41";
}
.dso-i-dso-102:before {
  content: "\42";
}
.dso-i-dso-10:before {
  content: "\43";
}
.dso-i-dso-47:before {
  content: "\44";
}
.dso-i-dso-101:before {
  content: "\45";
}
.dso-i-dso-11:before {
  content: "\46";
}
.dso-i-dso-48:before {
  content: "\47";
}
.dso-i-dso-100:before {
  content: "\48";
}
.dso-i-dso-12:before {
  content: "\49";
}
.dso-i-dso-49:before {
  content: "\4a";
}
.dso-i-dso-99:before {
  content: "\4b";
}
.dso-i-dso-13:before {
  content: "\4c";
}
.dso-i-dso-50:before {
  content: "\4d";
}
.dso-i-dso-98:before {
  content: "\4e";
}
.dso-i-dso-14:before {
  content: "\4f";
}
.dso-i-dso-51:before {
  content: "\50";
}
.dso-i-dso-97:before {
  content: "\51";
}
.dso-i-dso-15:before {
  content: "\52";
}
.dso-i-dso-52:before {
  content: "\53";
}
.dso-i-dso-96:before {
  content: "\54";
}
.dso-i-dso-16:before {
  content: "\55";
}
.dso-i-dso-53:before {
  content: "\56";
}
.dso-i-dso-95:before {
  content: "\57";
}
.dso-i-dso-17:before {
  content: "\58";
}
.dso-i-dso-54:before {
  content: "\59";
}
.dso-i-dso-94:before {
  content: "\5a";
}
.dso-i-dso-18:before {
  content: "\30";
}
.dso-i-dso-56:before {
  content: "\31";
}
.dso-i-dso-93:before {
  content: "\32";
}
.dso-i-dso-19:before {
  content: "\33";
}
.dso-i-dso-57:before {
  content: "\34";
}
.dso-i-dso-92:before {
  content: "\35";
}
.dso-i-dso-20:before {
  content: "\36";
}
.dso-i-dso-58:before {
  content: "\37";
}
.dso-i-dso-91:before {
  content: "\38";
}
.dso-i-dso-21:before {
  content: "\39";
}
.dso-i-dso-59:before {
  content: "\21";
}
.dso-i-dso-90:before {
  content: "\22";
}
.dso-i-dso-22:before {
  content: "\23";
}
.dso-i-dso-60:before {
  content: "\24";
}
.dso-i-dso-89:before {
  content: "\25";
}
.dso-i-dso-23:before {
  content: "\26";
}
.dso-i-dso-61:before {
  content: "\27";
}
.dso-i-dso-88:before {
  content: "\28";
}
.dso-i-dso-24:before {
  content: "\29";
}
.dso-i-dso-62:before {
  content: "\2a";
}
.dso-i-dso-87:before {
  content: "\2b";
}
.dso-i-dso-25:before {
  content: "\2c";
}
.dso-i-dso-63:before {
  content: "\2d";
}
.dso-i-dso-86:before {
  content: "\2e";
}
.dso-i-dso-26:before {
  content: "\2f";
}
.dso-i-dso-64:before {
  content: "\3a";
}
.dso-i-dso-85:before {
  content: "\3b";
}
.dso-i-dso-27:before {
  content: "\3c";
}
.dso-i-dso-65:before {
  content: "\3d";
}
.dso-i-dso-84:before {
  content: "\3e";
}
.dso-i-dso-28:before {
  content: "\3f";
}
.dso-i-dso-66:before {
  content: "\40";
}
.dso-i-dso-83:before {
  content: "\5b";
}
.dso-i-dso-29:before {
  content: "\5d";
}
.dso-i-dso-67:before {
  content: "\5e";
}
.dso-i-dso-82:before {
  content: "\5f";
}
.dso-i-dso-30:before {
  content: "\60";
}
.dso-i-dso-68:before {
  content: "\7b";
}
.dso-i-dso-81:before {
  content: "\7c";
}
.dso-i-dso-31:before {
  content: "\7d";
}
.dso-i-dso-69:before {
  content: "\7e";
}
.dso-i-dso-80:before {
  content: "\5c";
}
.dso-i-dso-32:before {
  content: "\e000";
}
.dso-i-dso-70:before {
  content: "\e001";
}
.dso-i-dso-79:before {
  content: "\e002";
}
.dso-i-dso-33:before {
  content: "\e003";
}
.dso-i-dso-71:before {
  content: "\e004";
}
.dso-i-dso-78:before {
  content: "\e005";
}
.dso-i-dso-34:before {
  content: "\e006";
}
.dso-i-dso-72:before {
  content: "\e007";
}
.dso-i-dso-77:before {
  content: "\e008";
}
.dso-i-dso-35:before {
  content: "\e009";
}
.dso-i-dso-73:before {
  content: "\e00a";
}
.dso-i-dso-76:before {
  content: "\e00b";
}
.dso-i-dso-36:before {
  content: "\e00c";
}
.dso-i-dso-74:before {
  content: "\e00d";
}
.dso-i-dso-75:before {
  content: "\e00e";
}
.dso-i-dso-37:before {
  content: "\e010";
}
.dso-i-dso-dso:before {
  content: "\66";
}
